.date mat-form-field {
  margin-right: 12px;
}
.dateForm{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.date{
  margin-bottom: 3%;
}
.example-chip-list {
  width: 100%;
}

.sousCompte{
  margin-bottom: 2%;
}
.statsouscompte, .statParPeriode{
  margin-bottom: 2%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

