.navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .active-link{
    color:#ff7900;
    border-bottom: 3px solid #ff7900;
}

.moncompte{
  display: flex;
  justify-content: right;
  padding: 2%;
}
